*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: #ffbe4f7e;
}
table{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin: auto;
    width: 500px;
    border-collapse: collapse;

}
thead{
    background-color: #ff3300ea !important;
    color: #ffffff;
}
th{
    padding: 15px 80px;
    border-radius: 5px;

}
tbody td
{
    padding: 7px 100px;
    border-radius: 3px;

}
tr{
    transition-duration: 0.4s;

}

tbody tr:nth-child(2n+1){
    background-color: #f5a81a;

}
tbody tr:nth-child(2n){
    background-color: #77000080;
}
tr:hover{
    background-color: #0a71b6 !important;
}