body{
    background-color: #001347;
    color: cornsilk;
}
ul{
}
li{
    align-items: center;
    color: #ffc400;
    display: inline;
    padding: 10px;
}
a{
    color: #ffc400;
    text-decoration: none;
}